.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: larger;
    font-weight: 600;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}

li a:hover{
  box-shadow:  0 -5px 3px -3px gray, 0 5px 3px -3px gray;
}

a{
  text-decoration: none;
}

.logo{
  width:60%;
  height: 60%;
  margin: 10px 50px;
}

.compose-new{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: whitesmoke;
  color: black;
  padding: 12px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
}